<header class="col-lg-12 col-xl-12 header">
    <div class="col-lg-12 text-center logo_container">
        <img class="irfan_logo" src="./img/irfan-logo-web.png" alt="Irfan">
    </div>
    <!-- <h1 class="text-center col-lg-12 col-xl-12"><span class="col-lg-3 col-xl-3">Irfan</span></h1> -->
    <section id="nav" class="col-lg-12">
        <section class="col-lg-8 col-lg-offset-2 col-xl-8 col-xl-offset-3">
            <div class="col-lg-2 col-xl-2 text-center" ng-click="location.path('/home')">
                <h3>home</h3>
            </div>
            <div class="col-lg-2 col-xl-2 text-center" ng-click="location.path('/events')">
                <h3>events</h3>
            </div>
            <div class="col-lg-2 col-xl-2 text-center" ng-click="location.path('/music')">
                <h3>music</h3>
            </div>
            <div class="col-lg-2 col-xl-2 text-center">
                <h3>us</h3>
            </div>
            <div class="col-lg-2 col-xl-2 text-center">
                <h3>contact</h3>
            </div>
        </section>
    </section>
</header>
