/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadein {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 2s linear 0;
    -moz-transition: opacity 2s linear 0;
    -o-transition: opacity 2s linear 0;
    -ms-transition: opacity 2s linear 0;
    transition: opacity 2s linear 0;
}


/* ROTATIng FROM BEHIND */

@keyframes rotatingfrombehind {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0;
        width: 30%;
        top: 25%;
        left: 35%;
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0.2;
        width: 50%;
        top: 5%;
        left: 25%;
    }
}

@-webkit-keyframes rotatingfrombehind
/* Safari and Chrome */

{
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0;
        width: 0%;
        top: 50%;
        left: 50%;
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0.3;
        width: 50%;
        top: 5%;
        left: 25%;
    }
}

.rotatingbehind {
    opacity: 0;
    /*width: 0%;
    top: 50%;
    left: 50%;*/
    -webkit-animation: 3s linear 0s forwards rotatingfrombehind;
    -moz-animation: 3s linear 0s forwards rotatingfrombehind;
    -ms-animation: 3s linear 0s forwards rotatingfrombehind;
    -o-animation: 3s linear 0s forwards rotatingfrombehind;
    animation: 3s linear 0s forwards rotatingfrombehind;
}


/* ROTATING */

@-webkit-keyframes rotating
/* Safari and Chrome */

{
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: 34s linear infinite rotating;
    -moz-animation: 34s linear infinite rotating;
    -ms-animation: 34s linear infinite rotating;
    -o-animation: 34s linear infinite rotating;
    animation: 34s linear infinite rotating;
}

.animate_all {
    -webkit-transition: 2s ease-in-out all 0.5s;
    -moz-transition: 2s ease-in-out all 0.5s;
    -ms-transition: 2s ease-in-out all 0.5s;
    -o-transition: 2s ease-in-out all 0.5s;
    transition: 2s ease-in-out all 0.5s;
}

.slow_animate_all {
    -webkit-transition: 30s cubic-bezier(1, 0.57, 1, 0.94) all 0.5s;
    -moz-transition: 30s cubic-bezier(1, 0.57, 1, 0.94) all 0.5s;
    -ms-transition: 30s cubic-bezier(1, 0.57, 1, 0.94) all 0.5s;
    -o-transition: 30s cubic-bezier(1, 0.57, 1, 0.94) all 0.5s;
    transition: 30s cubic-bezier(1, 0.57, 1, 0.94) all 0.5s;
}

.zoom_in {
    width: 30%;
    top: 18%;
    left: 33%;
}
