.default_main {
	margin-top: 10px;
}

/* default */

.default_main {
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
    display: block;
}

.default_main .rosete_img {
    position: absolute;
    opacity: 0.2;
    width: 10%;
    top: 5%;
    left: 25%;
}

.default_main .ark_img {
    position: absolute;
    width: 30%;
    top: 18%;
    left: 33%;
}

.default_main .eternal_back_img {
	position: absolute;
	width: 100%;
	left: 0px;
	top: -20%;
}

.back_img_opacity {
	opacity: 0.7;
}

.back_zoom_in_transformation {
    -webkit-transform: scale(3,3) translate(100px, 100px);
    -moz-transform: scale(3,3) translate(100px, 100px);
    -ms-transform: scale(3,3) translate(100px, 100px);
    -o-transform: scale(3,3) translate(100px, 100px);
    transform: scale(3,3) translate(100px, 100px);
}

.default_main .window_img {
    position: absolute;
    width: 55%;
    top: 5%;
    left: 23%;
}

.default_main .single_window_container {
    position: absolute;
    top: 7%;
    left: 20%;
}

.default_main .logo_container {
    overflow: hidden;
}

.default_main .irfan_logo {
    opacity: 0.8;
    height: 200px;
}

.default_main .youtube_embed {
    border: 1px solid #2B2B2B;
    width: 80%;
    height: 500px;
}

.default_main .article_container {
    padding-left: 30px;
}

.default_main .button_section {
    padding-top: 100px;
}