@import url('./header.css');
@import url('./default-style.css');
@import url('./events-style.css');
@import url('./animations.css');
@import url(https://fonts.googleapis.com/css?family=Italianno);

/* HEADINGS */


/*h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Italianno', cursive;
}*/

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 20px;
}


/* DEFAULTS */

body {
    font-family: "Times New Roman", Times, serif;
    background-color: #000;
    /*    background-size: cover;
    background-image: url('../img/backgrounds/light_windows_web.jpg');
    background-image: url('../img/home-back.jpg');
    background-image: url('http://outlet-parfum.nl/RedBackground.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: 0% 0%;*/
    color: #fff;
}

main {
    margin-top: 128px;
}

main > section > article {
    padding: 20px;
    margin-top: 20px;
}


/* MY CLASSES */

.fixed {
    position: fixed;
}

.dark_mat_back {
    background-color: rgba(0, 0, 0, 0.6);
}

.overflow_hidden {
    overflow: hidden;
}

.default_btn {
    border: 1px solid #525252;
    background-color: #000;
    font-size: 25px;
}

.opacity_zero {
    opacity: 0;
}

.player {
    margin-top: 40px;
    height: 40px;
}

.font_italiano {
    font-family: 'Italianno', cursive;
}

.font_outline_black {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* RESPONSIVE */


/* col-sm */

@media (min-width: 768px) {

}


/* col-md */

@media (min-width: 992px) {

}


/* col-lg */

@media (min-width: 1200px) {

}


/* col-xl */

@media (min-width: 1700px) {

}


/* col-xs */

@media (max-width: 767px) {

}
