<section class="container">
    <main class="default_main col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- <img id="rosete" class="rosete_img" src="./img/rosete-oud-web.png" alt=""> -->
        <img class="ark_img" ng-class="fadeInAnimation" src="./img/backgrounds/ark_web.jpg" alt="">
        <!-- <img class="window_img" ng-class="backAnimationClass" src="./img/backgrounds/light_window_web.jpg" alt=""> -->
        <!-- <img class="eternal_back_img" ng-class="backAnimationClass" src="./img/backgrounds/eternal_back_web.jpg" 
        alt=""> -->
        <!-- <img class="eternal_back_img" ng-class="backAnimationClass" src="./img/backgrounds/eternal_original_web.jpg" alt=""> -->
        <!-- <img class="eternal_back_img" ng-class="backAnimationClass" src="./img/backgrounds/tree_web.jpg" alt=""> -->
       <!--  <section class="single_window_container col-xl-7">
            <img class="col-xl-4" src="./img/backgrounds/single_window_web.jpg" alt="">
            <img class="col-xl-4" src="./img/backgrounds/single_window_web.jpg" alt="">
            <img class="col-xl-4" src="./img/backgrounds/single_window_web.jpg" alt="">
        </section> -->
        <section class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center logo_container" ng-class="fadeInAnimation">
            <img class="irfan_logo fadein" src="./img/irfan-logo-web.png" alt="Irfan">
        </section>

        <section class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center main_label" ng-class="fadeInAnimation">
            <h1 class="font_outline_black">New Album - The Eternal Return</h1>
        </section>

        <section class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center pull-right album_text" ng-class="fadeInAnimation">
            <article class="font_italiano font_outline_black text-center">
                <h2>"Music is half - forgotten memory <wbr>of a primitive state, <wbr>it is a bridge of holyness <wbr>between this world <wbr>and the World of all Beauty ..."</h2>
                <h3>Hidgerald von Bingen 12th century</h3>
            </article>            
        </section>

        <section class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center" ng-class="fadeInAnimation">
            <iframe class="youtube_embed" src="https://www.youtube.com/embed/peP-UUHGaSo?autoplay=1&rel=0" frameborder="0" allowfullscreen></iframe>
        </section>      

        <section class="button_section text-center col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
            <article class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-sx-6">
                <button class="default_btn" type="button">BUY THE ALBUM</button>    
            </article>
            <article class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-sx-6">
                <button class="default_btn" type="button" ng-click="openHome()">CONTINUE TO SITE</button>
            </article>
        </section>
    </main>
</section>
<my-footer></my-footer>
