<navbar></navbar>
<section class="container">
    <main class="home_main col-lg-12">
        <section class="col-lg-7">
            <article class="fadein">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit incidunt facere nulla reprehenderit corporis, nihil officia. Quisquam incidunt harum, deserunt laudantium, quo architecto facilis vero. Commodi quod quas ab possimus.</span>
                    <span>Ipsum exercitationem architecto ex fuga in quibusdam inventore at rem, corporis est nam, fugit nostrum. Nobis suscipit consequuntur blanditiis quia et nostrum magni. Modi reprehenderit blanditiis, tempora, ab in totam.</span>
                    <span>Ipsum velit quod rem, maiores cupiditate deserunt quia, nemo, quisquam ipsam alias nobis saepe quasi, minus autem harum perferendis dolorum ullam recusandae vero. Aliquid dolorum unde aspernatur magni quisquam totam.</span>
                    <span>Iste ex, optio tempore, itaque ad, aliquid recusandae, molestiae distinctio neque impedit incidunt quae cupiditate. Ipsa nulla culpa et quam nostrum qui necessitatibus distinctio, eveniet, nesciunt provident earum suscipit! Perspiciatis?</span>
                    <span>Quas repellat commodi fugiat aliquid eaque doloremque at dolore. Quam eos vel corrupti asperiores nesciunt quaerat sequi, doloremque omnis nostrum, cumque commodi dolorum odit. Dolores eos corrupti odio ipsum voluptatum?</span></p>
            </article>
        </section>
        <section class="col-lg-7">
            <article class="fadein">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit incidunt facere nulla reprehenderit corporis, nihil officia. Quisquam incidunt harum, deserunt laudantium, quo architecto facilis vero. Commodi quod quas ab possimus.</span>
                    <span>Ipsum exercitationem architecto ex fuga in quibusdam inventore at rem, corporis est nam, fugit nostrum. Nobis suscipit consequuntur blanditiis quia et nostrum magni. Modi reprehenderit blanditiis, tempora, ab in totam.</span>
                    <span>Ipsum velit quod rem, maiores cupiditate deserunt quia, nemo, quisquam ipsam alias nobis saepe quasi, minus autem harum perferendis dolorum ullam recusandae vero. Aliquid dolorum unde aspernatur magni quisquam totam.</span>
                    <span>Iste ex, optio tempore, itaque ad, aliquid recusandae, molestiae distinctio neque impedit incidunt quae cupiditate. Ipsa nulla culpa et quam nostrum qui necessitatibus distinctio, eveniet, nesciunt provident earum suscipit! Perspiciatis?</span>
                    <span>Quas repellat commodi fugiat aliquid eaque doloremque at dolore. Quam eos vel corrupti asperiores nesciunt quaerat sequi, doloremque omnis nostrum, cumque commodi dolorum odit. Dolores eos corrupti odio ipsum voluptatum?</span></p>
            </article>
        </section>
        <section class="col-lg-7">
            <article class="fadein">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit incidunt facere nulla reprehenderit corporis, nihil officia. Quisquam incidunt harum, deserunt laudantium, quo architecto facilis vero. Commodi quod quas ab possimus.</span>
                    <span>Ipsum exercitationem architecto ex fuga in quibusdam inventore at rem, corporis est nam, fugit nostrum. Nobis suscipit consequuntur blanditiis quia et nostrum magni. Modi reprehenderit blanditiis, tempora, ab in totam.</span>
                    <span>Ipsum velit quod rem, maiores cupiditate deserunt quia, nemo, quisquam ipsam alias nobis saepe quasi, minus autem harum perferendis dolorum ullam recusandae vero. Aliquid dolorum unde aspernatur magni quisquam totam.</span>
                    <span>Iste ex, optio tempore, itaque ad, aliquid recusandae, molestiae distinctio neque impedit incidunt quae cupiditate. Ipsa nulla culpa et quam nostrum qui necessitatibus distinctio, eveniet, nesciunt provident earum suscipit! Perspiciatis?</span>
                    <span>Quas repellat commodi fugiat aliquid eaque doloremque at dolore. Quam eos vel corrupti asperiores nesciunt quaerat sequi, doloremque omnis nostrum, cumque commodi dolorum odit. Dolores eos corrupti odio ipsum voluptatum?</span></p>
            </article>
        </section>
        <section class="col-lg-5 player">
            <iframe src="//content.jwplatform.com/players/PhNbgEO6-yPsKbsnj.html" width="480" height="270" frameborder="0" scrolling="auto" allowfullscreen></iframe>
        </section>
    </main>
</section>
<my-footer></my-footer>
