<section class="media main_music_background">
    <navbar></navbar>
    <main class="container">
        <section class="col-xl-6 col-xl-offset-3 players_container fadein">
            <article class="player_container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DzhBrkBMwaM" frameborder="0" allowfullscreen></iframe>
            </article>
            <article class="player_container">
                <iframe width="480" height="270" src="https://www.youtube.com/embed/videoseries?list=PLfeV6X19YO5QLF4fh1wyxSepaNWOEbQF0" frameborder="0" allowfullscreen></iframe>
            </article>
            <article>
                <!-- <audio controls>
                  <source src="/audio?album=a&song=1" type="audio/mpeg">
                  Your browser does not support the audio tag.
                </audio> -->
            </article>
            <!-- <h4 class="text-center"><strong>The Eternal Return</strong></h4>
        	    <article class="player_container">
        	        <iframe src="//content.jwplatform.com/players/9YGD9cy0-yPsKbsnj.html" width="480" height="270" frameborder="0" scrolling="auto"></iframe>
        	    </article>
        	    <h4 class="text-center"><strong>Seraphim</strong></h4>
        	    <article class="player_container">
        	        <iframe src="//content.jwplatform.com/players/YZfVlLIP-yPsKbsnj.html" width="480" height="270" frameborder="0" scrolling="auto"></iframe>
        	    </article>
        	    <h4 class="text-center"><strong>Irfan</strong></h4>
        	    <article class="player_container">
        	        <iframe src="//content.jwplatform.com/players/2v64Uj5H-yPsKbsnj.html" width="480" height="270" frameborder="0" scrolling="auto"></iframe>
        	    </article> -->
        </section>
    </main>
    <my-footer></my-footer>
</section>
