<navbar></navbar>
<section class="container">
    <!-- http://mementomori.hu/gothic/sites/default/files/2014jul/_MG_7562.JPG 
http://www.lagrosseradio.com/_images/fck/18456.jpg 
http://www.cineversity.tv/artist/Irfan/tv/Irfan%20plays%20Hagia%20Sofia.jpg
https://i.ytimg.com/vi/_SmC_vUMH5Q/maxresdefault.jpg -->
    <main>
        <section class="col-lg-12 col-xl-12">
            <article class="fadein col-lg-12 col-xl-12">
                <section class="col-lg-5">
                    <img class="col-lg-12" src="https://s.mxmcdn.net/images-storage/albums8/6/5/6/9/0/7/11709656_350_350.jpg" alt="Seraphim">
                </section>
                <section class="col-lg-7">
                    <ol type="1">
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                    </ol>
                    <audio class="col-lg-12" src="./media/irfan-simurgh.mp3" controls></audio>
                </section>
            </article>
        </section>
        <section class="col-lg-12 col-xl-12">
            <article class="fadein col-lg-12 col-xl-12">
                <section class="col-lg-5">
                    <img class="col-lg-12" src="https://s.mxmcdn.net/images-storage/albums8/6/5/6/9/0/7/11709656_350_350.jpg" alt="Seraphim">
                </section>
                <section class="col-lg-7">
                    <ol type="1">
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                    </ol>
                    <audio class="col-lg-12" src="./media/irfan-simurgh.mp3" controls></audio>
                </section>
            </article>
        </section>
        <section class="col-lg-12 col-xl-12">
            <article class="fadein col-lg-12 col-xl-12">
                <section class="col-lg-5">
                    <img class="col-lg-12" src="https://s.mxmcdn.net/images-storage/albums8/6/5/6/9/0/7/11709656_350_350.jpg" alt="Seraphim">
                </section>
                <section class="col-lg-7">
                    <ol type="1">
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                        <li><h4>Simurgh</h4></li>
                    </ol>
                    <audio class="col-lg-12" src="./media/irfan-simurgh.mp3" controls></audio>
                </section>
            </article>
        </section>
        <!-- <section class="fadein col-lg-5">
            <article class="col-lg-12">
                <img class="col-lg-12" src="http://www.prikosnovenie.com/groupes/Irfan-eternal.jpg" alt="The Eternal Return">
            </article>
            <article class="col-lg-12">
                <img class="col-lg-12" src="https://s.mxmcdn.net/images-storage/albums8/6/5/6/9/0/7/11709656_350_350.jpg" alt="Seraphim">
            </article>
            <article class="col-lg-12">
                <img class="col-lg-12" src="http://cps-static.rovicorp.com/3/JPG_400/MI0000/443/MI0000443291.jpg?partner=allrovi.com" alt="Irfan">
            </article>
        </section> -->
    </main>
</section>
<my-footer></my-footer>
