<navbar></navbar>
<section class="container news">
    <!-- <section class="col-lg-12"> -->
        <!-- <img src="./img/columns/alhamb_ceramic_a_web.jpg" alt="" class="column_l">
        <img src="./img/columns/alhamb_ceramic_b_web.jpg" alt="" class="column_r"> -->

       <!--  <img src="./img/columns/alhamb_vert_stone_a_web.jpg" alt="" class="column_l">
        <img src="./img/columns/alhamb_vert_stone_b_web.jpg" alt="" class="column_r"> -->

        <!-- <img src="./img/columns/window_a.jpg" alt="" class="column_l"> -->
        <!-- <img src="./img/backgrounds/alham_arks_web.jpg" alt="" class="back_center_a"> -->
        <!-- <img src="./img/columns/window_b.jpg" alt="" class="column_r"> -->
    <!-- </section> -->
    <main class="col-lg-12">
        <section class="col-lg-6 col-lg-offset-1">
            <article class="col-lg-12 fadein">
            <!-- http://www.wave-gotik-treffen.de/images/name@2x.png -->
                <a href="https://www.facebook.com/events/1231339136894081/" target="_blank"><img class="col-lg-12" src="https://scontent-vie1-1.xx.fbcdn.net/hphotos-xpf1/t31.0-0/q82/p480x480/10355613_1114126551954006_8326401744005080148_o.jpg" alt="Wave Gothic Traffen"></a>
                <h2 class="font_italiano">Irfan at Wave-Gotik-Treffen 2016</h2>                
                <p>Dear friends it`s pleasure to inform you that we will play again at 25-th edition of <a class="my_a" href="http://www.wave-gotik-treffen.de/english" target="_blank">Wave Gotik Treffen</a>. Everybody is wellcome to enjoy our new album presentation at the Traffen scene.</p>     
                        <!-- https://scontent-vie1-1.xx.fbcdn.net/hphotos-xpf1/t31.0-0/q82/p480x480/10355613_1114126551954006_8326401744005080148_o.jpg -->
            </article>
        </section>
        <section class="col-lg-4 players_container fadein">
            <article class="player_container">            
                <iframe width="480" height="270" src="https://www.youtube.com/embed/videoseries?list=PLfeV6X19YO5QLF4fh1wyxSepaNWOEbQF0" frameborder="0" allowfullscreen></iframe>
            </article>
            <h4 class="text-center"><strong>The Eternal Return</strong></h4>
            <article class="player_container">
                <iframe src="//content.jwplatform.com/players/9YGD9cy0-yPsKbsnj.html" width="480" height="270" frameborder="0" scrolling="auto"></iframe>
            </article>
            <h4 class="text-center"><strong>Seraphim</strong></h4>
            <article class="player_container">
                <iframe src="//content.jwplatform.com/players/YZfVlLIP-yPsKbsnj.html" width="480" height="270" frameborder="0" scrolling="auto"></iframe>
            </article>
            <h4 class="text-center"><strong>Irfan</strong></h4>
            <article class="player_container">
                <iframe src="//content.jwplatform.com/players/2v64Uj5H-yPsKbsnj.html" width="480" height="270" frameborder="0" scrolling="auto"></iframe>
            </article>
        </section>
    </main>
</section>
<my-footer></my-footer>
