<header class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 header fixed">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center logo_container">
        <img class="irfan_logo" src="./img/irfan-logo-web.png" alt="Irfan">
    </div>
    <section class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
        <section class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-2 col-xl-2 text-center">
                <a href="#/home" class="animate_all_fast" ng-class="{selected : selectedLocation === '/home'}">
                    <h4>home</h4>
                </a>
            </div>
            <div class="col-lg-2 col-xl-2 text-center">
                <a href="#/events" class="animate_all_fast" ng-class="{selected : selectedLocation === '/events'}">
                    <h4>events</h4>
                </a>
            </div>
            <div class="col-lg-2 col-xl-2 text-center">
                <a href="#/music" class="animate_all_fast" ng-class="{selected : selectedLocation === '/music'}">
                    <h4>music</h4>
                </a>
            </div>
            <div class="col-lg-2 col-xl-2 text-center">
                <a href="#">
                    <h4>us</h4>
                </a>
            </div>
            <div class="col-lg-2 col-xl-2 text-center">
                <a href="#">
                    <h4>contact</h4>
                </a>
            </div>
        </section>
    </section>
</header>
